form.signup,
form.login {
  margin-top: 50px;
}

html {
  background-image: url(/images/background.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
body {
  font-family: "Josefin Sans", sans-serif !important;
  font-weight: 700 !important;
  color: white;
}

img {
  height: 350.36px !important;
  width: 551.06px;
  border-radius: 15px;
}

.reviews {
  height: 25px !important;
}

#mainTitle {
  font-size: 6rem;
  font-family: "oleo script", cursive;
}
.columns {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
.fa {
  color: white !important;
}
.results {
  background-color: white;
  border-radius: 15px;
}
.bottomIcons {
  padding-top: 20px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
#name {
  font-size: 30px;
}

#address,
#reviews,
#number {
  font-size: 20px;
}

.italics {
  font-family: "Josefin Sans", sans-serif;
  font-style: italic;
}

#locIcon {
  margin-right: 10px;
}

#starRating {
  margin-left: 30px;
}

#image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40rem;
}

#nono {
  color: red;
}

#yes {
  color: green;
}

i {
  cursor: pointer;
}

.center-logins {
  margin-top: 20%;
}

.control {
  margin-right: 35px;
}

#login-txt {
  margin-right: 30px;
}

#signin-txt {
  margin-right: 30px;
}

.rName {
  font-family: "oleo script", cursive;
  font-size: 2.5rem;
}

.newFont {
  font-size: 20px;
}
